# Importing Packages

In [1]:
import numpy as np
import pandas as pd
import re
import requests
from collections import Counter
import bs4 as bs
import unicodedata
mdict = {"January":"1", "February":"2", "March":"3", "April":"4", "May":"5", "June":"6", "July":"7",\
         "August":"8", "September":"9", "October":"10", "November":"11", "December":"12"}
import us
STATES_DICT = us.states.mapping('name', 'abbr')

def strip_accents(text):
    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass
    text = unicodedata.normalize('NFD', text)
    text = text.encode('ascii', 'ignore')
    text = text.decode("utf-8")
    return str(text)
def stripper(begins):
    begins = [strip_accents(boo) for boo in begins]
    begins = [re.sub(r"%C3%BA","u", u) for u in begins]
    begins = [re.sub(r"%C3%A9","e", e) for e in begins]
    begins = [re.sub(r"%C3%AD","i", i) for i in begins]
    begins = [re.sub(r"%C3%A1","a", a) for a in begins]
    begins = [re.sub("%27", "'", nra) for nra in begins]
    begins = [re.sub("%27", "'", nra) for nra in begins]
    begins = [re.sub(r"%22.*%22", "", nra) for nra in begins]
    begins = [re.sub(r" +", " ", nra) for nra in begins]
    #begins = [re.sub(" [A-Z]\. ", " ", nra) for nra in begins]
    return(begins)

# 116th Congress

In [11]:
source = requests.get("https://en.wikipedia.org/wiki/116th_United_States_Congress#Members")
soup = bs.BeautifulSoup(source.content, features='html.parser') 
begins = [str(link.get('href')) for link in soup.find_all('a')]
begins = stripper(begins)
ends = []
for string in begins:
    if re.match(r"/wiki", string):
        ends.append(re.sub(r"/wiki/","",string))
sens116 = ends[134:284]
reps116 = ends[294:1214]
####
####
####
sstate = []
schamber = []
sname = []
rstate = []
rchamber = []
rname = []
for sen in sens116:
    if re.match(r"List_of.*", sen):
        state = re.sub(r"^List_of_United_States_Senators_from_","",sen)
    else:
        name = re.sub(r"_"," ", sen)
        name = re.sub(r"\(.*\)","",name)
        sname.append(re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", name)[0])
        sstate.append(state)
        schamber.append("Senate")
for dis in reps116:
    if re.match(r"List_of.*", dis):
        state = re.sub(r"^List_of_United_States_Representatives_from_","",dis)
    #elif re.match(r".*_congressional_district$", dis):
    #    house115.append(state)
    #    temp = re.sub(r"_congressional_district$","",dis)
    #    house115.append("DISTRICT: " + re.sub(r"^.*[^_]+_","", temp))
    elif not re.match(r".*_congressional_district$", dis):
        name = re.sub(r"_"," ",dis)
        name = re.sub(r"\(.*\)","",name)
        rname.append(re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", name)[0])
        rstate.append(state)
        rchamber.append("House")
rstates116 = pd.concat([pd.Series(rname), pd.Series(rchamber), pd.Series(rstate)], axis = 1)
rstates116.columns = ["Name", "Chamber", "State"] 
sstates116 = pd.concat([pd.Series(sname), pd.Series(schamber), pd.Series(sstate)], axis = 1)
sstates116.columns = ["Name", "Chamber", "State"]

In [12]:
sstates116.head()

             Name Chamber    State
0      Doug Jones  Senate  Alabama
1  Richard Shelby  Senate  Alabama
2    Dan Sullivan  Senate   Alaska
3  Lisa Murkowski  Senate   Alaska
4  Kyrsten Sinema  Senate  Arizona

In [13]:
sstates116.tail()

                    Name Chamber          State
95  Shelley Moore Capito  Senate  West_Virginia
96         Tammy Baldwin  Senate      Wisconsin
97           Ron Johnson  Senate      Wisconsin
98         John Barrasso  Senate        Wyoming
99             Mike Enzi  Senate        Wyoming

In [14]:
rstates116.head()

              Name Chamber    State
0    Bradley Byrne   House  Alabama
1      Martha Roby   House  Alabama
2      Mike Rogers   House  Alabama
3  Robert Aderholt   House  Alabama
4        Mo Brooks   House  Alabama

In [15]:
rstates116.tail()

                  Name Chamber      State
430  Jim Sensenbrenner   House  Wisconsin
431     Glenn Grothman   House  Wisconsin
432         Sean Duffy   House  Wisconsin
433     Mike Gallagher   House  Wisconsin
434         Liz Cheney   House    Wyoming

In [25]:
source = requests.get("https://en.wikipedia.org/wiki/116th_United_States_Congress#Members")
soup = bs.BeautifulSoup(source.content, features='html.parser') 
begins = [str(link) for link in soup.find_all('li')]
begins = stripper(begins)
#begins = [re.sub(r"\'","a",a) for a in begins]
sens116 = begins[217:317]
reps116 = begins[368:803]
syear = ["<BLANK>" for x in range(len(sens116))]
sday = ["<BLANK>" for x in range(len(sens116))]
smonth = ["<BLANK>" for x in range(len(sens116))]
sparty = ["<BLANK>" for x in range(len(sens116))]
sname = ["<BLANK>" for x in range(len(sens116))]
sstate = ["<BLANK>" for x in range(len(sens116))]
##########
ryear = ["<BLANK>" for x in range(len(reps116))]
rday = ["<BLANK>" for x in range(len(reps116))]
rmonth = ["<BLANK>" for x in range(len(reps116))]
rparty = ["<BLANK>" for x in range(len(reps116))]
rname = ["<BLANK>" for x in range(len(reps116))]
rstate = ["<BLANK>" for x in range(len(reps116))]
rdistrict = ["<BLANK>" for x in range(len(reps116))]
hmm = [re.sub(r"<[^>]+>","",sen) for sen in sens116]
for sen in range(len(hmm)):
    z = re.match("^3\..*",hmm[sen]) #class 3 begins this congress
    if z:
        syear[sen] = "2018" #election year
        smonth[sen] = "11" #election month
        sday[sen] = "6" #election day
        name = re.sub("^3\. ","",hmm[sen]) #Senate cycle according to wikipedia metadata
        sname[sen] = re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", name)[0]
        party = re.sub(sname[sen],"",name)
        party = re.findall(r"\([^ ]+\)", party)[0]
        sparty[sen] = re.sub(r"[^A-Z]+","",party)
for sen in range(len(hmm)):
    if syear[sen] == "<BLANK>":
        if re.match("^[^0-9].*",hmm[sen]):
            step2 = re.findall(r"[A-Za-z]+ [0-9]+, \d\d\d\d",hmm[sen])[0]
            sday[sen] = re.sub(r",","",re.findall(r"[0-9]+,",step2)[0])
            syear[sen] = re.findall(r"\d\d\d\d", step2)[0]
            smonth[sen] = mdict[re.sub(r"[0-9, ]+","", step2)]
            name = re.sub(r"\[[^ ]+\]","",hmm[sen])
            sname[sen] = re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", name)[0]
            party = re.sub(sname[sen],"",name)
            sparty[sen] = re.sub(r"[^A-Z]+","",party)
syear = [x for x in syear if x!= "<BLANK>"]
smonth = [x for x in smonth if x!= "<BLANK>"]
sday = [x for x in sday if x!= "<BLANK>"]
sname = [x for x in sname if x!= "<BLANK>"]
sparty = [x[0] for x in sparty if x!= "<BLANK>"]
schamber = ["Senate" for x in sparty if x!="<BLANK>"]
df = pd.DataFrame({'year': syear,
                       'month': smonth,
                       'day': sday})
sdate = pd.to_datetime(df)
senate116 = pd.concat([sdate, pd.Series(sparty), pd.Series(sname), pd.Series(schamber)], axis = 1)
senate116.columns = ["Date", "Party", "Name", "Chamber"]
#######
#######
#######
hmm = [re.sub(r"<[^>]+>","",rep) for rep in reps116]
hmm = [re.sub("[Aa]t\-large\.","0.",rep) for rep in hmm]
for rep in range(len(hmm)):
    z = re.match("^[0-9]+\..*",hmm[rep])
    if z:
        district = re.findall(r"^[0-9]+", hmm[rep])[0]
        rdistrict[rep] = district
        name = re.sub(rdistrict[rep] + ". ","", hmm[rep])
        rname[rep] = re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", name)[0]
        party = re.sub(rname[rep] + " ","",name)
        party = re.findall(r"^\([^ ]+\)",party)[0]
        rparty[rep] = re.sub(r"[\(\)]","", party)
        ryear[rep] = "2018" #election year
        rmonth[rep] = "11" #election month
        rday[rep] = "6" #election day   
    else:
        if not re.search(".*Vacant.*", hmm[rep]):
            rname[rep] = re.findall(r"^[A-Za-z \-\.\']+ [A-Za-z\-\'\.]+", hmm[rep])[0]
            rdistrict[rep] = district
            party = re.sub(rname[rep] + " ","", hmm[rep])
            party = re.findall(r"^\([^ ]+\)",party)[0]
            rparty[rep] = re.sub(r"[\(\)]","", party)
            date = re.sub("^.*from ","",hmm[rep])
            ryear[rep] = re.findall(r"\d\d\d\d",date)[0]
            date = re.sub(ryear[rep],"",date)
            date = re.sub(r",.*$","",date)
            rday[rep] = re.findall(r"[0-9]+",date)[0]
            date = re.sub(" " + rday[rep],"",date)
            rmonth[rep] = mdict[date]
ryear = [x for x in ryear if x!= "<BLANK>"]
rmonth = [x for x in rmonth if x!= "<BLANK>"]
rday = [x for x in rday if x!= "<BLANK>"]
rname = [x for x in rname if x!= "<BLANK>"]
rparty = [x[0] for x in rparty if x!= "<BLANK>"]
rchamber = ["House" for x in rparty if x!= "<BLANK>"]
rdistrict = [x for x in rdistrict if x!= "<BLANK>"]
df = pd.DataFrame({'year': ryear,
                       'month': rmonth,
                       'day': rday})
rdate = pd.to_datetime(df)
house116 = pd.concat([rdate, pd.Series(rparty), pd.Series(rname), pd.Series(rchamber), pd.Series(rdistrict)], axis = 1)
house116.columns = ["Date", "Party", "Name", "Chamber", "District"]

In [26]:
senate116.head()

        Date Party            Name Chamber
0 2018-11-06     R  Richard Shelby  Senate
1 2018-11-06     R  Lisa Murkowski  Senate
2 2018-11-06     R         Jon Kyl  Senate
3 2018-11-06     R    John Boozman  Senate
4 2018-11-06     D   Kamala Harris  Senate

In [27]:
senate116.tail()

         Date Party           Name Chamber
29 2018-11-06     R     John Thune  Senate
30 2018-11-06     R       Mike Lee  Senate
31 2018-11-06     D  Patrick Leahy  Senate
32 2018-11-06     D   Patty Murray  Senate
33 2018-11-06     R    Ron Johnson  Senate

In [28]:
house116.head()

        Date Party             Name Chamber District
0 2018-11-06     R    Bradley Byrne   House        1
1 2018-11-06     R      Martha Roby   House        2
2 2018-11-06     R      Mike Rogers   House        3
3 2018-11-06     R  Robert Aderholt   House        4
4 2018-11-06     R        Mo Brooks   House        5

In [29]:
house116.tail()

          Date Party               Name Chamber District
430 2018-11-06     R  Jim Sensenbrenner   House        5
431 2018-11-06     R     Glenn Grothman   House        6
432 2018-11-06     R         Sean Duffy   House        7
433 2018-11-06     R     Mike Gallagher   House        8
434 2018-11-06     R         Liz Cheney   House        0

In [30]:
def hurry(x,y):
    return(pd.merge(x, y,  how='inner', left_on=['Name','Chamber'], right_on = ['Name','Chamber']))

In [31]:
senate_test = hurry(senate116,sstates116)
house_test = hurry(house116,rstates116)

In [32]:
#senate_test.to_csv("Senate_2018_test_set.csv")
#house_test.to_csv("House_2018_test_set.csv")

In [33]:
import numpy as np
import pandas as pd
import re
import requests
from collections import Counter
import bs4 as bs
import unicodedata
mdict = {"January":"1", "February":"2", "March":"3", "April":"4", "May":"5", "June":"6", "July":"7",\
         "August":"8", "September":"9", "October":"10", "November":"11", "December":"12"}
import us
STATES_DICT = us.states.mapping('name', 'abbr')

def strip_accents(text):
    try:
        text = unicode(text, 'utf-8')
    except NameError: # unicode is a default on python 3 
        pass
    text = unicodedata.normalize('NFD', text)
    text = text.encode('ascii', 'ignore')
    text = text.decode("utf-8")
    return str(text)
def stripper(begins):
    begins = [strip_accents(boo) for boo in begins]
    begins = [re.sub(r"%C3%BA","u", u) for u in begins]
    begins = [re.sub(r"%C3%A9","e", e) for e in begins]
    begins = [re.sub(r"%C3%AD","i", i) for i in begins]
    begins = [re.sub(r"%C3%A1","a", a) for a in begins]
    begins = [re.sub("%27", "'", nra) for nra in begins]
    #begins = [re.sub(" [A-Z]\. ", " ", nra) for nra in begins]
    return(begins)

In [34]:
section = pd.read_html("https://en.wikipedia.org/wiki/List_of_current_United_States_governors")[0]
section = section.iloc[2:len(section),:]
section.columns = ["State", "Chamber", "Name", "DeleteA", "Party", "DeleteB", "Date", "End", "DeleteC"]
del(section["DeleteA"])
del(section["DeleteB"])
del(section["DeleteC"])
section["Chamber"] = ["governor" for x in range(len(section))]
section["State"] = section["State"].str.lower()
section["Party"] = section["Party"].str.lower()
section["Name"] = section["Name"].str.lower()
section["End"] = [re.findall("\d\d\d\d",x)[0] for x in section["End"]]
dates = section["Date"].tolist()
year = [re.findall("\d\d\d\d",x)[0] for x in dates]
day = [re.sub(",","",re.findall("\d+,",x)[0]) for x in dates]
month = [mdict[re.findall("^[A-Z][a-z]+",x)[0]] for x in dates]
df = pd.DataFrame({'year': year,
                       'month': month,
                       'day': day})
date = pd.to_datetime(df)
section = section.reset_index(drop = True)
section["Date"] = date
section["Party"] = [x[0] for x in section["Party"]]
section = section.sort_values(by = "Date").reset_index(drop=True)
section

             State   Chamber               Name Party       Date   End
0            idaho  governor        butch otter     r 2007-01-01  2019
1             utah  governor       gary herbert     r 2009-08-11  2021
2         michigan  governor        rick snyder     r 2011-01-01  2019
3         new york  governor       andrew cuomo     d 2011-01-01  2018
4       new mexico  governor    susana martinez     r 2011-01-01  2019
5           nevada  governor     brian sandoval     r 2011-01-03  2019
6        wisconsin  governor       scott walker     r 2011-01-03  2019
7        minnesota  governor        mark dayton     d 2011-01-03  2019
8          wyoming  governor          matt mead     r 2011-01-03  2019
9       california  governor        jerry brown     d 2011-01-03  2019
10         florida  governor         rick scott     r 2011-01-04  2019
11     connecticut  governor      dannel malloy     d 2011-01-05  2019
12           maine  governor        paul lepage     r 2011-01-05  2019
13    south dakota  governor    dennis daugaard     r 2011-01-08  2019
14         georgia  governor        nathan deal     r 2011-01-10  2019
15        oklahoma  governor        mary fallin     r 2011-01-10  2019
16            ohio  governor        john kasich     r 2011-01-10  2019
17        colorado  governor  john hickenlooper     d 2011-01-11  2019
18       tennessee  governor        bill haslam     r 2011-01-15  2019
19     mississippi  governor        phil bryant     r 2012-01-10  2020
20         montana  governor      steve bullock     d 2013-01-07  2021
21      washington  governor         jay inslee     d 2013-01-16  2021
22          hawaii  governor          david ige     d 2014-12-01  2022
23         arizona  governor         doug ducey     r 2015-01-05  2019
24    rhode island  governor      gina raimondo     d 2015-01-06  2019
25        nebraska  governor      pete ricketts     r 2015-01-08  2019
26   massachusetts  governor      charlie baker     r 2015-01-08  2019
27        illinois  governor       bruce rauner     r 2015-01-12  2019
28        arkansas  governor     asa hutchinson     r 2015-01-13  2019
29           texas  governor        greg abbott     r 2015-01-20  2019
30    pennsylvania  governor           tom wolf     d 2015-01-20  2019
31        maryland  governor        larry hogan     r 2015-01-21  2019
32          oregon  governor         kate brown     d 2015-02-18  2019
33        kentucky  governor         matt bevin     r 2015-12-08  2019
34       louisiana  governor   john bel edwards     d 2016-01-11  2020
35    north dakota  governor        doug burgum     r 2016-12-15  2020
36  north carolina  governor         roy cooper     d 2017-01-01  2021
37         vermont  governor         phil scott     r 2017-01-05  2019
38   new hampshire  governor       chris sununu     r 2017-01-05  2019
39         indiana  governor       eric holcomb     r 2017-01-09  2021
40   west virginia  governor        jim justice     r 2017-01-16  2021
41        delaware  governor        john carney     d 2017-01-17  2021
42  south carolina  governor     henry mcmaster     r 2017-01-24  2019
43         alabama  governor           kay ivey     r 2017-04-10  2019
44            iowa  governor       kim reynolds     r 2017-05-24  2019
45        virginia  governor      ralph northam     d 2018-01-13  2022
46      new jersey  governor        phil murphy     d 2018-01-16  2022
47          kansas  governor        jeff colyer     r 2018-01-31  2019
48        missouri  governor        mike parson     r 2018-06-01  2021
49          alaska  governor      mike dunleavy     r 2018-12-03  2022