In [5]:
import pandas as pd
import datetime

In [6]:
numdays = 3257
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(0, numdays)]
date = pd.DataFrame([x.strftime('%m/%d/%Y') for x in date_list])
date.columns = ['date']
date.head()

         date
0  12/01/2018
1  11/30/2018
2  11/29/2018
3  11/28/2018
4  11/27/2018

In [7]:
# date[date['date']== '01/20/2017'].index.tolist()[0]
# d: dem
# r: rep
# Jan 20th 2017
date['WhiteHouseParty']= 'r'
date['WhiteHouseParty'].iloc[0:date[date['date']== '01/20/2017'].index.tolist()[0]] = 'd'

In [8]:
# end
date = date.iloc[::-1]
date = date.set_index('date')
date.head()

           WhiteHouseParty
date
01/01/2010               r
01/02/2010               r
01/03/2010               r
01/04/2010               r
01/05/2010               r

In [9]:
date.to_csv('WhiteHouseParty.csv')