In [60]:
import pandas as pd
import numpy as np
import re
from pathlib import Path

from sklearn.base import BaseEstimator, TransformerMixin

GRADE_TO_SCORE = {'A+':13, 'A':12, 'A-':11, 'B+':10, 'B':9, 'B-':8, 
                  'C+':7, 'C':6, 'C-':5, 'D+':4, 'D':3, 'D-':2, 'F':1}

DATA_DIR = Path('..')/'..'/'data'

pd.set_option('display.max_rows', 500)

In [37]:
rcp = pd.read_csv(DATA_DIR/'cleaned'/'Final_Polls_Nov_5.csv')
print(f"{len(rcp)} observations")
rcp['Poll'] = rcp['Poll'].str.lower()
rcp.head(10)

19226 observations

,Race/Topic (Click to Sort),Poll,Results,Spread,Date,Year
0,Florida Senate - Rubio vs. Meek vs. Crist,quinnipiac,"Crist 32, Rubio 30, Meek 24",Crist +2,2010-04-15,2010
1,Arkansas Senate - Boozman vs. Lincoln,r2000/daily kos (d),"Boozman 50, Lincoln 43",Boozman +7,2010-04-15,2010
2,Arkansas Senate - Boozman vs. Halter,r2000/daily kos (d),"Boozman 48, Halter 41",Boozman +7,2010-04-15,2010
3,Florida Senate - Rubio vs. Meek,quinnipiac,"Rubio 42, Meek 38",Rubio +4,2010-04-15,2010
4,Florida Senate - Republican Primary,quinnipiac,"Rubio 56, Crist 33",Rubio +23,2010-04-15,2010
5,Arkansas Senate - Democratic Primary,r2000/daily kos (d),"Lincoln 45, Halter 33",Lincoln +12,2010-04-15,2010
6,Florida Senate - Crist vs. Meek,quinnipiac,"Crist 48, Meek 34",Crist +14,2010-04-15,2010
7,Generic Congressional Vote,ppp (d),"Republicans 47, Democrats 42",Republicans +5,2010-04-16,2010
8,Direction of Country,r2000/daily kos (d),"Right Direction 38, Wrong Track 58",Wrong Track +20,2010-04-16,2010
9,Arizona Senate - Republican Primary,rasmussen reports,"McCain 47, Hayworth 42",McCain +5,2010-04-16,2010

In [38]:
pollster = pd.read_csv(DATA_DIR/'cleaned'/'pollster_grades_538.csv')
print(f"{len(pollster)} observations")
pollster['Pollster'] = pollster['Pollster'].str.lower()
pollster.head(10)

396 observations

                            Pollster 538 Grade
0                       selzer & co.        A+
1                monmouth university        A+
2  field research corp. (field poll)        A+
3           abc news/washington post        A+
4                     elway research        A+
5                  ciruli associates        A+
6                          surveyusa         A
7                 muhlenberg college         A
8                     marist college         A
9                      grove insight         A

In [39]:
pollster[pollster['Pollster'].str.contains('public policy polling')]

                 Pollster 538 Grade
73  public policy polling         B

In [76]:
pollster[pollster['Pollster'].str.contains('predictive')]

                        Pollster 538 Grade
226  oh predictive insights/mbqf        C+

In [77]:
rcp[rcp['Poll'].str.contains('mbqf')]

,Race/Topic (Click to Sort),Poll,Results,Spread,Date,Year
13902,Arizona Republican Presidential Primary,mbqf (r),"Trump 37, Cruz 23, Kasich 15",Trump +14,2016-03-10,2016